rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Development rules - allow all read/write
    // TODO: Update these rules for production use
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
